.container {
	width: 80%;
	margin: 20px auto;
}
.cat {
	width: 45%;
	display: inline-block;
	margin: 15px;
}
#cat1, #counter1, #cat2, #counter2 {
	width: 100%;
}
#clear {
	border: 1px solid darkgrey;
	width: 80px;
	margin-left: 0;
	cursor: pointer;
	text-align: center;
	background-color: lightblue;
	margin-top: 30px;
}
#cat1 img, #cat2 img {
	width: 100%;
}