* { margin: 0; padding: 0;}
ul, li {
	list-style-type: none;
}
a {
	text-decoration: none;
}

header {
	//position: fixed;
	height: 100px;
	width: 80%;
	margin: 0 auto;
	background-color: #fcf5c2;
	text-align: center;
}
header span {
	display: inline-block;
	margin-top: 25px;
	font-size: 2em;
	font-weight: bold;
}
.container {
	display: flex;
	width: 80%;
	margin: 0px auto;
}
aside {
	width: 30%;
	background-color: #cfdff9;
	padding: 15px;
}
aside li {
	height: 50px;
	align-items: center;
}
aside a {
	display: flex;
	align-items: center;
	color: darkslategray;
    font-size: 1.2em;
}
aside img {
	margin-right: 20px;
	width: 60px;
}
.catInfo {
	width: 70%;
	text-align: center;
	padding-top: 30px;
	background-color: azure;
}

#catName {
	margin: 30px auto;
}

#counter {
	margin-top: 30px;
	margin-bottom: 30px;
}
#clear {
	border: 1px solid darkgrey;
    width: 100px;
    font-size: 1.2em;
    margin: 100px auto 50px auto;
    cursor: pointer;
    text-align: center;
    background-color: lightblue;
    height: 30px;
    padding-top: 8px;
    color: #406171;
}
#catImgBox img {
	width: 80%;
}